body {
	margin:none;
	padding:none;
	background:black;
	background-image:url("../back.png");
}
.pixel {
	position:absolute;
	background:blue;
	height:18px;
	width:18px;
	border: 1px solid white;	
}

p {
	font-size:12px;
	margin-top:5px;
	color:white;
}